<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderSection("modal", required: false)
    </div>
    <div style="margin-top:20px">
        @RenderBody()
    </div>
</body>
</html>

