
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="padding-top:10px;padding-left:10px;">
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年3月10日</h3>
                    <p>
                        1、用户和角色能双向添加<br />
                        2、用户和部门管理范围能双向添加<br />
                        3、开发专门功能设置用户的管理范围，选择部门，向其中添加人员<br />
                        4、<br />
                        5、
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年3月5日</h3>
                    <p>
                        1、增加人员时，设置一个默认的公共角色，设置人员的默认管理范围为他所属的部门<br />
                        2、完善代码<br />
                        3、限制人员菜单时，传入人员菜单ID数组，在生成菜单时排除<br />
                        4、限制人员管理范围时，传入人员管理范围ID数组<br />
                        5、通过表格勾选的方式设置角色所拥有的权限，设置时候可以对权限进行搜索
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年3月3日</h3>
                    <p>
                        1、部门模块。<br />
                        2、人员模块<br />
                        3、单页面模式弹出层<br />
                        4、iframe模式研究<br />
                        4、layui日期格式化<br />
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年3月2日</h3>
                    <p>
                        1、过午不食。<br />
                        2、角色权限设置方式<br />
                        3、菜单生成<br />
                        4、关于、页面编辑<br />
                        5、日志模块<br />
                        6、公告模块<br />
                        7、整理数据模型的更新命令<br />
                        8、controller层的方法，只包含从页面传来的数据，就是只负责页面数据的传入和输出<br />
                        service层的方法，负责对控制层传来的数据进行业务逻辑的处理和页面模型的生成和展示<br />
                        仓储层，只对数据库模型进行crud，不进行任何业务逻辑的处理。
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年2月27日</h3>
                    <p>
                        1、完成Crud。
                        2、完成部门模型建立
                        3、完成菜单模型

                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">2020年度工作</h3>
                    <ul style="list-style-type:decimal">
                        <li>hyper虚拟机服务器迁移</li>
                        <li>买学区房子</li>
                        <li>高级职称论文</li>
                        <li>减肥到170</li>
                        <li>快速开发框架研究</li>
                    </ul>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">8月15日</h3>
                    <p>
                        中国人民抗日战争胜利72周年
                        <br>常常在想，尽管对这个国家有这样那样的抱怨，但我们的确生在了最好的时代
                        <br>铭记、感恩
                        <br>所有为中华民族浴血奋战的英雄将士
                        <br>永垂不朽
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title">过去</div>
                </div>
            </li>
        </ul>
    </div>
    
</body>
</html>
