
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnePage1</title>
</head>
<body>
    <h1>OnePage1</h1>
    <h1>OnePage1</h1>
    <h1>OnePage1</h1>
    <h1>OnePage1</h1>
    <h1>OnePage1</h1>
    <h1>OnePage1</h1>
    <h1>OnePage1</h1>
    <h1>OnePage1</h1>
</body>
</html>
